body {
    background: #FFF url(back.png) repeat;
    color: #D5D2D6;
}

blockquote {
    border-color: #FF9C27;
}

#main {
    background: #414141 url(main.png) repeat-y;
    color: #D5D2D6;
}

#links, #footer, #links a, #footer a, #links a:hover, #footer a:hover {
    background: #545454;
    color: #D5D2D6;
    border-color: #FF9C27;
}

#logo {
    background: #FFF url(logo.jpg) no-repeat;
    color: #D5D2D6;
    border-color: #FF9C27;
}

h1, #column1 h1, #column2 h1 {
    background: transparent;
    color: #FF9C27;
    border-color: #787878;
}

#menu {
    background: transparent;
    color: #D5D2D6;
}

#menu li a, .sidebaritem {
    background: #545454;
    color: #D5D2D6;
    border-color: #787878;
}

#menu li a:hover, #menu li a#selected, #menu li a#selected:hover {
    background: #FF9C27;
    color: #FFF;
}

#content, #column2, #column2 a {
    background: #414141;
    color: #D5D2D6;
    border-color: #D5D2D6;
}

#column2 a:hover {
    background: #414141;
    color: #FF9C27;
    border-color: #FF9C27;
}

.sbilinks li a, .sidebaritem a {
    background: #545454 url(cog.png) no-repeat left center;
    color: #D5D2D6;
}

.sbilinks li a:hover, .sidebaritem a:hover {
    background: #545454 url(orange_cog.png) no-repeat left center;
    color: #FF9C27;
}

#column2 ul.column2links a {
    background: url(cog.png) no-repeat left center;
}

#column2 ul.column2links a:hover {
    background: url(orange_cog.png) no-repeat left center;
}
