/* global */
html {
    height: 100%;
}

body {
    font-family: verdana, arial, sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: .68em;
}

p {
    margin: 0px;
    padding: 0px 0px 16px 0px;
    line-height: 1.7em;
}

h1 {
    font-family: arial, sans-serif;
    font-size: 108%;
    letter-spacing: .1em;
}

h2 {
    margin: 0px;
    padding: 0px 0px 4px 0px;
    font-size: 100%;
}

img {
    border: 0px;
}

a {
    outline: none;
}

/* image positioning - left, right and center */
.left {
    float: left;
    padding: 0px 8px 0px 0px;
}

.right {
    float: right;
    padding: 0px 0px 0px 8px;
}

.center {
    display: block;
    text-align: center;
    margin: 0 auto;
}

/* block quote */
blockquote {
    margin: 20px 0px 20px 0px;
    padding: 10px 20px 0px 20px;
    border-left: 8px solid;
}

/* unordered list */
ul {
    margin: 8px 0px 0px 16px;
    padding: 0px;
}

ul li {
    list-style-type: square;
    margin: 0px 0px 11px 0px;
    padding: 0px;
}

/* ordered list */
ol {
    margin: 8px 0px 0px 24px;
    padding: 0px;
}

ol li {
    margin: 0px 0px 11px 0px;
    padding: 0px;
}

/* margin lefts / margin rights - to centre content */
#main, #links, #footer, #logo, #menu, #content {
    margin-left: auto;
    margin-right: auto;
}

/* main container */
#main {
    width: 780px;
}

/* links above the logo / footer */
#links, #footer {
    width: 726px;
    height: 20px;
    font-size: 88%;
    text-transform: uppercase;
    padding: 8px 21px 0px 19px;
}

#links {
    text-align: right;
}

#footer {
    text-align: center;
    border-top: 2px solid;
}

#links a, #footer a {
    text-decoration: none;
}

#links a:hover, #footer a:hover {
    text-decoration: underline;
}

/* logo */
#logo {
    width: 766px;
    height: 125px;
    border-top: 2px solid;
    border-bottom: 5px solid;
}

#logo h1, #logo h2 {
    margin: 0px;
    letter-spacing: .2em;
}

#logo h1 {
    padding: 28px 0px 0px 139px;
    font-size: 160%;
}

#logo h2 {
    font-family: arial, sans-serif;
    padding: 5px 0px 0px 139px;
    font-size: 108%;
}

/* navigation menu */
#menu {
    height: 30px;
    width: 766px;
    margin-top: -30px;
    position: relative;
}

#menu ul {
    margin: 0px auto;
}

#menu li {
    float: left;
    margin: 0px 5px 0px 0px;
    padding: 0px;
    list-style: none;
}

#menu li a {
    display: block;
    float: left;
    height: 20px;
    text-decoration: none;
    padding: 6px 19px 2px 19px;
    border: 1px solid;
    text-transform: uppercase;
    font-size: 88%;
}

#menu li a:hover, #menu li a#selected, #menu li a#selected:hover {
    height: 20px;
    padding: 7px 20px 2px 20px;
    border: 0px;
}

/* main content */
#content {
    width: 766px;
    overflow: hidden;
}

/* column 1 - contains sidebar items */
#column1 {
    width: 198px;
    margin: 22px 0px 0px 0px;
    float: right;
    padding: 19px 19px 15px 19px;
}

.sidebaritem {
    text-align: left;
    width: 168px;
    float: left;
    margin: 0px 0px 23px 0px;
    border: 1px solid;
    padding: 14px 8px 14px 19px;
}

.sidebaritem h1 {
    margin: 0px;
    font-weight: normal;
    padding: 0px 0px 16px 0px;
    text-transform: uppercase;
}

.sidebaritem p {
    line-height: 16px;
    padding: 0px 0px 8px 0px;
}

.sidebaritem a, .sidebaritem a:hover {
    padding: 0px 0px 2px 19px;
    text-decoration: none;
}

.sbilinks {
    padding: 0px
}

.sbilinks ul {
    margin: 0px auto;
}

.sbilinks li {
    margin: 0px;
    float: left;
    list-style: none;
}

.sbilinks li a, .sbilinks li a:hover {
    float: left;
    height: 16px;
    text-decoration: none;
    padding: 5px 0px 4px 19px;
    width: 149px;
}

/* column 2 - page content */
#column2 {
    text-align: justify;
    width: 508px;
    float: left;
    padding: 2px 3px 15px 19px;
}

#column2 h1 {
    font-family: arial, sans-serif;
    padding: 16px 0px 5px 0px;
    margin: 0px 0px 12px 0px;
    border-bottom: 1px solid;
    font-size: 150%;
    text-transform: uppercase;
    font-weight: normal;
}

#column2 a, #column2 a:hover {
    padding: 0px 0px 2px 0px;
    text-decoration: none;
    border-bottom: 1px dashed;
}

#column2 ul.column2links a, #column2 ul.column2links a:hover {
    padding: 5px 0px 4px 19px;
    border-bottom: none;
}

#column2 ul.column2links li {
    line-height: 24px;
    margin: 0px;
    list-style: none;
}

#column2 a:hover {
    border-bottom: 1px solid;
}

/* additional colour scheme selections */
#colour {
    margin: 0px 0px 20px 0px;
}

#colour a, #colour a:hover {
    border: 0px;
}

.blue {
    background: #414141 url(blue.png) no-repeat left center;
    color: #109CEF;
    padding: 0px 40px 0px 20px;
}

.green {
    background: #414141 url(green.png) no-repeat left center;
    color: #94C65A;
    padding: 0px 40px 0px 20px;
}

.purple {
    background: #414141 url(purple.png) no-repeat left center;
    color: #CE5AEF;
    padding: 0px 40px 0px 20px;
}

.orange {
    background: #414141 url(orange.png) no-repeat left center;
    color: #FF9C21;
    padding: 0px 40px 0px 20px;
}

div.photobox {
    padding: 15px;
}

div.photobox h3 {
    margin-bottom: 10px;
}

#column2 ol {
    list-style: decimal;
}

ul.actionMessage {
    padding: 10px;
    border: solid 1px #FF9C27;
    background-color: #545454;
}

ul.actionMessage li {
    list-style: none;
}

ul.errorMessage {
    padding: 10px;
    border: solid 1px #FF9C27;
    background-color: lightyellow;
    color: darkred;
}

ul.errorMessage li {
    list-style: none;
}
