<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="net.chrissearle"/>
    <context:property-placeholder location="file:/etc/flickrvote.properties"/>


    <bean id="flickr" class="com.aetrion.flickr.Flickr">
        <constructor-arg index="0" value="${flickr.key}"/>
        <constructor-arg index="1" value="${flickr.secret}"/>
        <constructor-arg index="2">
            <bean class="com.aetrion.flickr.REST"/>
        </constructor-arg>
    </bean>

    <bean id="twitter" class="twitter4j.Twitter">
        <constructor-arg index="0" value="${twitter.user}"/>
        <constructor-arg index="1" value="${twitter.password}"/>
    </bean>

    <bean id="bitly" class="com.rosaloves.net.shorturl.bitly.BitlyFactory" factory-method="newInstance">
        <constructor-arg index="0" value="${bitly.login}"/>
        <constructor-arg index="1" value="${bitly.key}"/>
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages"/>
    </bean>
</beans>
