<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2010 Chris Searle
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:constretto="http://constretto.org/schema/constretto"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://constretto.org/schema/constretto http://constretto.org/schema/constretto/constretto-1.1.xsd">

    <constretto:configuration>
        <constretto:stores>
            <constretto:properties-store>
                <constretto:resource location="classpath:flickrvote.properties"/>
            </constretto:properties-store>
            <constretto:properties-store>
                <constretto:resource location="file:/etc/flickrvote/flickrvote.properties"/>
            </constretto:properties-store>
            <constretto:system-properties-store/>
        </constretto:stores>
    </constretto:configuration>

    <context:component-scan base-package="net.chrissearle"/>

    <bean id="flickr" class="com.aetrion.flickr.Flickr">
        <constructor-arg index="0" value="${flickr.key}"/>
        <constructor-arg index="1" value="${flickr.secret}"/>
        <constructor-arg index="2">
            <bean class="com.aetrion.flickr.REST"/>
        </constructor-arg>
    </bean>

    <bean id="twitter" class="net.chrissearle.spring.twitter.spring.TwitterFactoryBean"/>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages"/>
    </bean>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mail.host}"/>
    </bean>

    <!-- this is a template message that we can pre-load with default state -->
    <bean id="mailTemplate" class="org.springframework.mail.SimpleMailMessage">
        <property name="from" value="${mail.from.address}"/>
        <property name="to" value="${mail.to.address.forum}"/>
    </bean>

    <bean id="simpleMailMessageManager" class="net.chrissearle.mail.SimpleMailMessageManager">
        <constructor-arg index="0" ref="mailSender"/>
        <constructor-arg index="1" ref="mailTemplate"/>
    </bean>
</beans>
