<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="net.chrissearle"/>
    <context:property-placeholder location="file:/etc/flickrvote/flickrvote.properties"/>

    <bean id="adminAuthTokenHolder" class="net.chrissearle.flickrvote.flickr.FlickrAdminAuthTokenHolder">
        <property name="adminAuthToken" value="${flickr.admin.auth.token}"/>
        <property name="adminAuthActive" value="${flickr.admin.auth.active}"/>
    </bean>

    <bean id="twitterHolder" class="net.chrissearle.flickrvote.twitter.TwitterHolder">
        <property name="active" value="${twitter.active}"/>
    </bean>

    <bean id="flickr" class="com.aetrion.flickr.Flickr">
        <constructor-arg index="0" value="${flickr.key}"/>
        <constructor-arg index="1" value="${flickr.secret}"/>
        <constructor-arg index="2">
            <bean class="com.aetrion.flickr.REST"/>
        </constructor-arg>
    </bean>

    <bean id="twitter" class="twitter4j.Twitter">
        <constructor-arg index="0" value="${twitter.user}"/>
        <constructor-arg index="1" value="${twitter.password}"/>
    </bean>

    <bean id="bitly" class="com.rosaloves.net.shorturl.bitly.BitlyFactory" factory-method="newInstance">
        <constructor-arg index="0" value="${bitly.login}"/>
        <constructor-arg index="1" value="${bitly.key}"/>
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages"/>
    </bean>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mail.host}"/>
    </bean>

    <!-- this is a template message that we can pre-load with default state -->
    <bean id="mailTemplate" class="org.springframework.mail.SimpleMailMessage">
        <property name="from" value="${mail.from.address}"/>
        <property name="to" value="${mail.to.address.forum}"/>
    </bean>

    <bean id="simpleMailMessageManager" class="net.chrissearle.mail.SimpleMailMessageManager">
        <constructor-arg index="0" ref="mailSender"/>
        <constructor-arg index="1" ref="mailTemplate"/>
    </bean>
</beans>
